.gameBody {
    background-color: rgb(220, 223, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    height: 100%;
    font-family: 'Grandstander', cursive;
    font-weight: 300;
}

.gameHeader{
    font-family: 'Grandstander', cursive;
    font-weight: 400;
    font-size: 4em;
}

.choicesChoices {
    display: flex;
    flex-direction: column;
    }

.gameButtons, .gameButtonPics {
    display: flex;
}

.gameButton{
    height: 100px;
    width: 120px;
    margin: 5px;
    background-color: rgb(216, 218, 92);
    border: 4px rgb(96, 10, 95) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Grandstander', cursive;
    font-size: 16px;
    font-weight: 300;
}

.gameButtonPic {
    height: 100px;
    width: 120px;
    margin: 5px;
    display: flex;
    justify-content: center;
}
.gameButton:hover {
    cursor: pointer;
    border: 4px red solid;
    box-shadow: inset 0 0 1em gold, 0 0 1em red;
    font-weight: 700;
    border-radius: 20px;
}

