.rulesBody {
    width: 100%;
    background-color: rgb(94, 175, 89);
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 1000px;
    height: 100%;
    font-family: 'Grandstander', cursive;
}
.rulesMain {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.rulesPl {
    font-size: 24px;
    margin-top: 50px;
    margin-left: 30px;
    font-weight: 300;
};

.rulesHeader{
width: auto;
}

.rulesHeaderH {
    font-weight: 400;
    font-size: 4em;
}

.rulesOverall {
    display: flex;
    justify-content: space-around;
}

h2 {
    width: 600px;
    display: flex;
    align-items: center;
}
/* rozstrzelic tekst i powiekszyc */