.homeBody {
    background-color: rgb(245, 99, 14);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: 'Grandstander', cursive;
    font-weight: 400;
    font-size: 2em;
}


.homeLogo {
    height: 600px;
}

.homePictures {
    margin-top: 25px;
    display: flex;
    justify-content:space-between;
    border-bottom: 4px solid black;
}

.homeSheldonPic {
    margin-top: 199px;
    height: 400px;
}

.homeLeonardPic {
    margin-top: 250px;
    height: 350px;
}

.homeSheldon {
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.homeLeonard {
    display: flex;
    flex-direction: column;
    justify-content:center;
}