.scoreBody {
    background-color: rgb(53, 139, 214);
    display: flex;
    align-items: center;
    height: 1000px;
    flex-direction: column;
    font-family: 'Grandstander', cursive;
    font-weight: 400;
}

.scoreHeader{
    font-family: 'Grandstander', cursive;
    font-weight: 400;
    font-size: 4em;
}

table {
    border: 2px solid black;
    font-family: 'Grandstander', cursive;
    font-weight: 400;
    font-size: 1.8em;
}
