
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, rgb(245, 99, 14), rgb(220, 223, 43), rgb(94, 175, 89), rgb(53, 139, 214));
  width: 100%;
}

 .navHeader{
  font-size: 3em;
  margin: 30px;
  font-family: 'Grandstander', cursive;
  font-weight: 700;
}

.navLi {
font-size: 1.4em;
margin: 10px;
font-family: 'Grandstander', cursive;
font-weight: 400;
}

.nav {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
} 
